<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_white"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_white"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalmshpereF1"
        tools:targetApi="34"
        >
        <activity
            android:name=".launchscreen"
            android:exported="true">

            <!-- Set intent filter to make it the launcher activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".model.UserModel"
            android:exported="true" />
        <activity
            android:name=".StartPage"
            android:exported="true" />
        <activity
            android:name=".SaveState"
            android:exported="true" />
        <activity
            android:name=".ChatMain"
            android:exported="true" />
        <activity
            android:name=".Chatbot"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Meditation"
            android:exported="true" />
        <activity
            android:name=".ChooseTherapist"
            android:exported="true" />
        <activity
            android:name=".home"
            android:exported="true" />

        <activity
            android:name=".anxiety_community_page"
            android:exported="true" />
        <activity
            android:name=".appointment_timeslots"
            android:exported="true" />
        <activity
            android:name=".AppointmentHomePage2"
            android:exported="true" />
        <activity
            android:name=".Choosebooking"
            android:exported="true" />
        <activity
            android:name=".ContentLibrary"
            android:exported="true" />
        <activity
            android:name=".read_articles"
            android:exported="true" />
        <activity
            android:name=".Detailandcancel"
            android:exported="true" />
        <activity
            android:name=".LoginPage"
            android:exported="true" />

        <activity
            android:name=".profile_page"
            android:exported="true" />
        <activity
            android:name=".RegisterPage"
            android:exported="true" />
        <activity
            android:name=".ReviewSummary"
            android:exported="true" />
        <activity
            android:name=".safe_space"
            android:exported="true" />
        <activity
            android:name=".SOS"
            android:exported="true" />
        <activity
            android:name=".paymentsuccessful"
            android:exported="true" />

        <activity android:name=".bipolar_community_page"
            android:exported="true"/>
        <activity android:name=".depression_community_page"
            android:exported="true"/>
        <activity android:name=".grief_community_page"
            android:exported="true"/>

    </application>

</manifest>